@model IEnumerable<WebProjeOT.Models.Blog>
@{
    ViewData["Title"] = "AdminBlogList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List of Blogs</h2>
<br />
<table class="table table-bordered table-primary">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Category</th>
        <th>Date</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
        @*<th>Comments</th>*@
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogID</td>
            <td>@item.BlogHeader</td>
            <td>@item.Categories.CategoriesName</td>
            <td>@item.BlogDate.ToShortDateString()</td>
            <td><a href="/Blogs/Delete/@item.BlogID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Blogs/Edit/@item.BlogID" class="btn btn-success">Edit</a></td>
            <td><a href="/Blogs/Details/@item.BlogID" class="btn btn-warning">Details</a></td>
            @*<td><a href="/Blog/GetCommentByBlog/@item.BlogID" class="btn btn-dark">Comments</a></td>*@
        </tr>
    }
</table>

<a href="/Blogs/Create/" class="btn btn-primary">Add New Blog</a>


