@model WebProjeOT.Models.About

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/LayoutProje.cshtml";
}

<h1>Edit</h1>

<h4>About</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AboutID" />
            <div class="form-group">
                <label asp-for="AboutDetails" class="control-label"></label>
                <input asp-for="AboutDetails" class="form-control" />
                <span asp-validation-for="AboutDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutDetails_2" class="control-label"></label>
                <input asp-for="AboutDetails_2" class="form-control" />
                <span asp-validation-for="AboutDetails_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutImage" class="control-label"></label>
                <input asp-for="AboutImage" class="form-control" />
                <span asp-validation-for="AboutImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutImage_2" class="control-label"></label>
                <input asp-for="AboutImage_2" class="form-control" />
                <span asp-validation-for="AboutImage_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

